#manage-work {
    padding: 0;

    @include xl {
        padding: 80px 0;
    }

    .container {
        display: grid;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%
        }

        @include xl {
            display: flex;
            justify-content: space-between;
        }

        .content {
            display: grid;
            margin: 0px;

            p {

                @include text-m;
                margin-bottom: 30px;

                img {
                    margin-right: 5px;
                }
            }

            .btn-theme-s {
                margin: 0 55% 40% 0;
            }

            @include xl {
                margin: 70px;
            }
        }
    }
}
