#signin {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 40%;
        }

        form {
            padding: 1rem;

            .content {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr;
                grid-template-areas: "email" "password" "remember" "button" "forgot";

                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-remember {
                    grid-area: remember;
                    padding: 1rem 0;
                }

                #form-button {
                    grid-area: button;
                }

                #form-forgot {
                    grid-area: forgot;
                    margin: 1rem 0 0 0;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}
