@inject SignInManager<UserEntity> _signInManager
<header>
    <div class="container">
        <a id="logo" asp-controller="Home" asp-action="Index"><img src="~/images/silicon-logo-litght_theme.svg" alt="logotype for Silicon"></a>
        
        <div id="menu" >
            @if (_signInManager.IsSignedIn(User))
            {
                <nav>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
                    <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses</a>
                    <a class="menu-link" asp-controller="Home" asp-action="hello">Contact</a>
                </nav>
            }
            else
            {
                <nav>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
                    <a class="menu-link" asp-controller="Home" asp-action="hello">Contact</a>
                </nav>
            }
        </div>
        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input id="switch-mode" onclick="toggleDarkMode(this)" type="checkbox">
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>
        
        <div id="account-buttons" >
            @if (_signInManager.IsSignedIn(User))
            {
                <div>
                    <a class="btn-gray" asp-controller="Auth" asp-action="SignOut"><i class="fa-regular fa-right-from-bracket"></i><span>Sing Out</span></a>
                    <a class="btn-theme" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-user"></i><span>My account</span></a>
                </div>
               
            }
            else
            {
                <div>
                    <a class="btn-gray" asp-controller="Auth" asp-action="SignIn"><i class="fa-regular fa-right-to-bracket"></i><span>Sing In</span></a>
                    <a class="btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sing Up</span></a>
                </div>
               
            }            
        </div>
        <button onclick="toggleMenu()" id="mobilemenu" class="btn-mobilemenu">
            <i class="fa-regular fa-bars"></i>
        </button>
    </div>
</header>