<section id="integrate-tools">
    <div class="container">
        <h1 class="d6">Integrate Top Work Tools</h1>
        <p class="integrate-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        <div class="tool-integrate">
            <div class="box">
                <img src="images/google-icon.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="box">
                <img src="images/cam_icon.svg" alt="">
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>
            <div class="box">
                <img src="images/color_icon.svg" alt="">
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/gmail_icon.svg" alt="">
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>
            <div class="box">
                <img src="images/trello_icon.svg" alt="">
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>
            <div class="box">
                <img src="images/mail_chimp_icon.svg" alt="">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="box">
                <img src="images/dropbox_icon.svg" alt="">
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>
            <div class="box">
                <img src="images/evernote_icon.svg" alt="">
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>

    </div>
</section>